*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.image{
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
}

.image img{
    height: 600px;
    width: auto;
    border-radius: 50%;
    border: 10px solid #fff;
}
